<!-- 
# ===================================================================
# Projeto: Inventory Management
# Autor: Henrique José Dias Pereira
# Data: 06/11/2024
# Direitos Autorais: © 2024 Henrique José Dias Pereira. Todos os direitos reservados.-->

{% extends 'inventory/base.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-sm-11 col-md-4 mx-auto mt-5 px-3">
            <h1 class="fw-light">Track and Manage Your Inventory</h1> 
            <p class = "fw-light"> Keep Track of your Inventory and Receive Quantity alerts for low inventory, made by Henrique J. D. Pereira</p>

            <div>
                <a href="{% url 'dashboard' %}" class = "btn btn-primary">Get Started Now!</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}